<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>

用户名：<input class="input-group" value="" name="username" id="username">
密码：<input class="input-group" value="" type="password" name="passWord" id="passWord">
<button class="btn btn-success" onclick="login()">登录</button>

<hr>
<div name="code" class="html">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div  class="panel panel-default">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
        </div>
</body>

<script type="text/javascript">
    function login() {
        var userName = $("#username").val();
        var passWord = $("#passWord").val();
        $.ajax({
            type: "post",
            dataType: "json",
            url: "/login",
            data: {
                userName: userName,
                passWord: passWord,
            },
            success: function (data) {
                window.location.href = "/home.html"
            }
        });
    }
</script>
</html>